<div class="login-clean">
  <form action="/login" method="post" style="width: 25%; margin: auto;">
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="email" name="qs_email" placeholder="Email"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="password" name="qs_password" placeholder="Password"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
        <a class="forgot" href="/forgot">Forgot your password?</a>
      </div>
    </div>
  </form>
</div>