<div class="login-clean">
  <form action="/post_user" method="post" style="width: 25%; margin: auto;">
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="text" name="qs_first_name" placeholder="First Name"></div>
      </div>
      <div class="col">
        <div class="form-group"><input class="form-control" type="text" name="qs_last_name" placeholder="Last Name"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="email" name="qs_email" placeholder="Email"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="password" name="qs_password" placeholder="Password"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><input class="form-control" type="password" name="qs_password_confirm" placeholder="Confirm password"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
      </div>
    </div>
  </form>
</div>